<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kienht.gapo.deeplink">

    <application>
        <activity android:name=".DeepLinkActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="kienht" />
            </intent-filter>
        </activity>
    </application>
</manifest>
